/* Настройка фона */
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpeg);

    background-color: black;
    background-attachment: fixed;
    Background-size: cover;
    Background-position: center;
}

/* Настройка Блоков */
div.header {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 5px 5px;
    padding: 5px 5px;
}
div.footer {
    display: inline;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 5px 5px;
    padding: 5px 5px;
    position: relative;
    bottom: 0;
    height: 200px;
    float: right;
}

div.menu {
    width: 20%;
    height: 100%;
    float: left;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.8);

}
div.content {
    width: 75%;
    height: 100%;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: justify;
    float: right;
}

div.mid {
    margin: 0 auto;
    width: 80%; /*Возможно, это ошибка, ведь в задании было 1200 пикселей,
        но я столкнулся с некоторыми проблемами при этом. Поэтому я выбрал проценты от размера окна*/
    color: white;
    min-width: 900px;


}

/* Настройка ссылок меню */
a {
    font-size: 20pt;
    text-decoration: none;
    color: #ffd800;
}
a.Passive {
    pointer-events: none; 
    color: #888; 
}
a.Active:hover {
    font-size: 25pt;
}
/* Настройка Текста */

p.Title {
    font-size: 55pt;
    font-family: Sylfaen;
    font-weight: bold;
    
}
/* Настройка Таблицы */
table.UsersTable {
    width: 100%;
    border-style: double;
    border-width: medium;
}
/* Настройка Иллюстраций */
.floatArt {
    float: left; 
    margin: 7px 7px 7px 0; 
}
.Prev {
    width: 200px;
    height: 200px;
}
.Prev:hover {
    width: 250px;

}